body{
	color:#000305;
	font-family: ARIAL;
	text-align: left;
	line-height: 1.5;
	font-size: 90%;
}
a{
	text-decoration: none;
}
a:link,a:visited{
	color: #CF5C3F;
}
a:hover, a:active{
	background-color: #CF5C3F;
	color: lightgray;
}
.post-info{
	color:#666;
	font-style: italic;	 
	font-size: 90%;
}
.body{
	width: 70%;
	margin:0 auto;
	clear: both;
}
.mainheader img{
	width: 30%;
	margin: 2% 0;
	height: auto;
}
.mainheader nav{
	background-color:#666;
	height: 50px;
	border-radius: 12px;
	-moz-border-radius:12px;
	-webkit-border-radius: 12px;
}
.mainheader nav ul{
	margin: 0 auto;
	list-style:none;	
}
.mainheader nav ul li{
	display:inline;
	float: left;
}
.mainheader nav a:link, .mainheader nav a:visited{
	display: inline-block;
	padding: 12.5px 25px;
	color: #FFF;
	height: 25px;
	border-radius: 12px;
	-moz-border-radius:12px;
	-webkit-border-radius: 12px;
}
.mainheader nav a:hover, .mainheader nav a:active,.mainheader nav .active a:link, .mainheader nav .active a:visited
{
	border-radius: 12px;
	-moz-border-radius:12px;
	-webkit-border-radius: 12px;
	background-color: #CF5C3F;
	text-shadow: none;
}
.maincontent{
	border-radius: 12px;
	-moz-border-radius:12px;
	-webkit-border-radius: 12px;
}
.content{
	width: 70%;
	float: left;
}
.topcontent{
	background-color: lightgray;
	border-radius: 7px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
	padding: 3% 5%;
	margin: 2.5% 0;
}
.bottomcontent{
	background-color: lightgray;
	border-radius: 7px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
	padding: 3% 5%;	
	margin: 2.5% 0;
}
.top-sidebar{
	width: 21%;
	float: left;
	background-color: lightgray;
	border-radius: 7px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
	margin-left:3%;
	padding: 2% 3%;
	margin-top: 1.8%;
	margin-bottom: 2%;
}
.middle-sidebar{
	width: 21%;
	float: left;	
	background-color: lightgray;
	border-radius: 7px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
	margin-left:3%;
	padding: 2% 3%;
	margin-top: 1.8%;
	margin-bottom: 2%;
}
.bottom-sidebar{
	width: 21%;
	float: left;
	background-color: lightgray;
	border-radius: 7px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
	margin-left:3%;
	padding: 2% 3%;
	margin-top: 1.8%;
	margin-bottom: 2%;
}
.mainfooter{
	width: 100%;
	float: left;
	background-color: lightgray;
	border-radius: 7px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 40px; 
}
.mainfooter p{
	width: 90%;
	margin: 1% auto;
}
@media only screen and (min-width: 150px) and (max-width: 600px){

.body{
	width: 90%;
	font-size: 95%;
}
.mainheader img{
	width: 100%;
}
.mainheader nav{
	height: 200px;
}
.mainheader nav ul{
	padding-left: 0;
}
.mainheader nav ul li{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.mainheader nav a:link, .mainheader nav a:visited{
	padding: 12.5px 25px;
	height: 25px;
}
.mainheader nav a:hover, .mainheader nav a:active,.mainheader nav .active a:link, .mainheader nav .active a:visited
{
	background-color: #CF5C3F;
	text-shadow: none;
	display: block;
}
.content{
	width: 100%;
	margin-top: 2%;
}
.topcontent{
	margin-bottom: 3%;
}
.bottomcontent{
	margin-bottom: 3%;
}
.post-info{
	display: none;
}
.top-sidebar,.middle-sidebar,.bottom-sidebar{
	width: 94%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2% 3%;
	float:right;
}
}